* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #297eff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
}

/* #search-box {
  font: inherit;
	position: relative;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 60px;
	transition: 0.5s;
	box-shadow: 0 0 0 5px #2573ef;
} */

.search .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	cursor: pointer;
}

.search .input {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 60px;
	left: 60px;
}

.search .input input {
	position: absolute;
	font: inherit;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	padding: 10px 0;
}

.search {
	position: relative;
	overflow: hidden;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 60px;
	transition: 0.5s;
	box-shadow: 0 0 0 5px #2573ef;
}

.search .icon::before {
	position: absolute;
	content: '';
	height: 15px;
	width: 15px;
	border: 3px solid #287dfc;
	border-radius: 50%;
	transform: translate(-2px, -2px);
}

.search .icon::after {
	position: absolute;
	content: '';
	width: 3px;
	height: 12px;
	background: #287dfc;
	transform: translate(8px, 8px) rotate(-45deg);
}

.search.active {
	width: 350px;
}

.clear {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	right: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	transform: translateY(-50%);
}

.clear::before {
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #999;
	transform: rotate(45deg);
}

.clear::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #999;
	transform: rotate(-45deg);
}

/* .country-name {
	display: flex;
	align-items: center;
} */

/* .official {
	margin-left: 10px;
} */
